environment:
  matrix:
      - nodejs_version: '8'
      - nodejs_version: '6'

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - npm test

build: off

cache:
  - '%APPDATA%\npm-cache'
