.gitignore
.gitattributes
.npmignore
.editorconfig

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

src/

rollup.config.js
benchmark.js
.babelrc

test/
coverage/
.travis.yml

.yaspellerrc
.jsdocrc
docs/
